<section class="lp-manage-episodes">
    <div class="lp-manage-header">
        <h2>{{#str}}managetitle, mod_learnplugpodcasts{{/str}}</h2>
        <a class="btn btn-primary" href="{{manageaddurl}}">{{#str}}addepisode, mod_learnplugpodcasts{{/str}}</a>
    </div>
    <p class="lp-note">{{managehelp}}</p>
</section>
