{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <https://www.gnu.org/licenses/>.

    @template mod_learnplugpodcasts/public_episode
    @package mod_learnplugpodcasts
    @copyright 2026 LearnPlug
    @license http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later

    Public single episode page.

    Example context (json):
    {
        "podcastname": "Podcast",
        "title": "Episode title",
        "subtitle": "Subtitle",
        "publishtime": "2026-05-04",
        "description": "<p>Description</p>",
        "audiourl": "https://example.com/audio.mp3",
        "imageurl": "https://example.com/image.jpg",
        "transcripttext": "",
        "transcriptfileurl": "",
        "hasattachments": false,
        "attachments": []
    }
}}
<section class="lp-public-episode-page">
<p class="lp-breadcrumb">{{podcastname}}</p>
    <h1>{{title}}{{^title}}Episode{{/title}}</h1>
{{#subtitle}}<p class="lp-podcast-subtitle">{{subtitle}}</p>{{/subtitle}}
<p class="lp-episode-meta">{{publishtime}}</p>
{{#imageurl}}<img src="{{imageurl}}" alt="{{title}}" class="lp-episode-image">{{/imageurl}}
<div class="lp-episode-description">{{{description}}}</div>
{{#audiourl}}
<audio controls preload="metadata">
<source src="{{audiourl}}">
</audio>
{{/audiourl}}
{{#transcripttext}}
<details class="lp-transcript" open>
<summary>{{#str}}transcripttext, mod_learnplugpodcasts{{/str}}</summary>
<div>{{{transcripttext}}}</div>
</details>
{{/transcripttext}}
{{#transcriptfileurl}}
<a class="btn btn-secondary" href="{{transcriptfileurl}}">{{#str}}downloadtranscript, mod_learnplugpodcasts{{/str}}</a>
{{/transcriptfileurl}}
{{#hasattachments}}
<div class="lp-attachments">
{{#attachments}}
<a class="btn btn-secondary" href="{{url}}">{{#str}}downloadattachment, mod_learnplugpodcasts{{/str}}: {{name}}</a>
{{/attachments}}
</div>
{{/hasattachments}}
</section>
