{{!
@template mod_learnplugpodcasts/view
@package mod_learnplugpodcasts
@copyright 2026 LearnPlug
@license http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
Main activity template.
Example context (json):
{
"cmid": 1,
"sesskey": "abc123",
"canmanage": false,
"canviewreports": false,
"hasfeaturedepisode": true,
"featuredepisode": {"title":"Episode title"}
}
}}
<div class="lp-podcast" data-region="lp-podcast" data-cmid="{{cmid}}" data-sesskey="{{sesskey}}">
{{#canmanage}}
{{> mod_learnplugpodcasts/podcast_header }}
{{> mod_learnplugpodcasts/manage_episodes }}
{{> mod_learnplugpodcasts/episode_list }}
{{/canmanage}}
{{^canmanage}}
{{#hasfeaturedepisode}}
{{> mod_learnplugpodcasts/channel_player }}
{{/hasfeaturedepisode}}
{{^hasfeaturedepisode}}
<div class="lp-empty">{{#str}}learnerlistempty, mod_learnplugpodcasts{{/str}}</div>
{{/hasfeaturedepisode}}
{{/canmanage}}
{{#canviewreports}}
{{> mod_learnplugpodcasts/analytics }}
{{/canviewreports}}
</div>
